page-login {
 ion-header{
   text-align: center;
 }
 ion-content{
   margin-top: 70px;
 }

 .myview{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROWxm-Xkd2UrGq1pMzeRNgrN-cShgSnZMiRqd5D3rtRhQWtjsd6w');
  background-repeat: no-repeat;
  background-size:cover;
  background-size: 50px;
  background-position: center;
  background-color: white;
}

}
