page-home {

    .circle-pic{
        width:49px;
        height:49px;
        border-radius: 50%;
    }
    b{
        color:antiquewhite;
        font-size: 24px;
        display: block;
        margin: 0 auto;
        text-align: center;
    }

}
